* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 0;
    width: 99%;
    height: 90%;
}

.header {
    width: 99%;
    height: auto;
    padding: 5px;
    background-color: gray;
    display: flex;
<<<<<<< HEAD
    position: fixed;

=======
>>>>>>> e8723f737687f93723d307543b2036a9ba36064e
}

.nom_titre {

    width: 25%;
    border-radius: 20px;
}


.img_logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

}

.header  > .mon_titre > img {
    border-radius: 20px;
}



.nav1 {

    align-items: center;
    justify-content: space-around;  
    width: 45%;
    font-size: 30px;
    display: flex;
    
 
}

.nav1 > a {
    text-decoration: none;
    color: white;


}
    


.nav2 {
    align-items: center;
    justify-content: right;  
    width: 30%;
    display: flex
}

.nav2 > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

/* section home */

.home {
    width: 100%;
    height: 40vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.home1 {
    width: 65%;
    height: 100%;
    background-color: blue;
}
.home2 {
    width: 30%;
    height: 100%;
    background-color: blue;
}

.about{
    width: 100%;
    height: 20vh;
    

}

.about1{
    width: 100%;
    height: 100%;
    background-color: blue;

}

.montitre_conteneur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titre_produit {
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}

.produit1 {
    width: 100%;
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conteneur {
    width: 18%;
    height: 90%;
    background-color: blue;
}

.produit2 {
    width: 100%;
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conteneur1 {
    width: 18%;
    height: 90%;
    background-color: blue;
}

 
.produit3 {
    width: 100%;
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}   

.achat {
    width: 32.5%;
    height: 15vh;
    text-align: center;
    padding: 22px;
    margin: auto;
    background-color: green;
    border:3px solid white;
    border-radius: 20px;
}

.achat p {
    font-size: 32px;
    font-weight: 900;
    color: white;
}

.footer {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_footer {
    width: 22%;
    border-color: azure;
    color: white;
}

.div_footer > a{
    font-size: 120%;
    text-decoration: none;
    color: white;
}